<h2 mat-dialog-title>Add User</h2>
<mat-dialog-content>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="data.email" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="data.password" required type="password">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Role</mat-label>
        <mat-select [(ngModel)]="data.role" required>
            <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Branch</mat-label>
        <mat-select [(ngModel)]="data.branchId">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let branch of branches" [value]="branch.id">{{branch.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data"
        [disabled]="!data.email || !data.password || !data.role">Create</button>
</mat-dialog-actions>