<h2 mat-dialog-title>Add Branch</h2>
<mat-dialog-content>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.name" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Location</mat-label>
        <input matInput [(ngModel)]="data.location" required>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data"
        [disabled]="!data.name || !data.location">Create</button>
</mat-dialog-actions>